:root {
  --font-family-main: "Pathway Extreme";
  --border-radius: 100px;
  --color-blue: #3c78d8;
  --color-green: #31f5a5;
  --color-gold: #ffc800;
  --color-grey: #696969;
  --color-grey-light: #f7f7f7;
  --color-grey-dark: #eeeeee;
  --color-black: #000000;
  --color-black-opacity: rgba(0, 0, 0, 0.6);
  --color-white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  overflow-x: hidden;
}

body:has(dialog[open]) {
  overflow: hidden;
}

main {
  padding-left: 10%;
  padding-right: 10%;
}

img,
embed,
object,
video {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

p {
  text-decoration: none;
  font-family: var(--font-family-main);
  font-weight: 400;
  font-size: 1em;
  color: var(--color-black);
  line-height: 1.3em;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
}

.p-xs {
  font-size: .75em;
  font-weight: 700;
}

.p-s {
  font-size: 1em;
  font-weight: 500;
}

.p-m {
  font-size: 2em;
  font-weight: 500;
}

.p-l {
  font-size: 2.5em;
  font-weight: 500;
}

.p-xl {
  font-size: 3em;
  font-weight: 500;
  line-height: 1.2em;
}

a {
  text-decoration: none;
  font-family: var(--font-family-main);
  font-weight: 400;
  font-size: 1em;
  color: var(--color-black);
  line-height: 1.4em;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
}

button {
  border: none;
  text-align: center;
  padding: .5rem 1rem;
  font-size: 1.5em;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  color: var(--color-black);
  font-family: var(--font-family-main);
  font-weight: 700;
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: none;
}

hr {
  background-color: var(--color-grey-dark);
  height: 1px;
  border: none;
}

header {
  position: sticky;
  width: 100%;
  z-index: 999;
  top: 0;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green);
  gap: 1rem;
  padding: 1rem;
}

.banner p {
  overflow: hidden;
  font-family: var(--font-family-main);
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-black);
  line-height: 1.2em;
  padding: 0;
  margin: 0;
}

.banner a {
  text-decoration: underline;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: .5rem 10%;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}

.logo {
  display: flex;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

.logo a {
  display: contents;
}

.menu {
  display: flex;
  gap: .75rem;
  flex-shrink: 1;
  min-width: 0;
}

.menu a {
  text-decoration: none;
}

.menu a:hover {
  text-decoration: none;
}

.nav-button-desktop {
  border: 1.5px solid var(--color-black);
  border-radius: var(--border-radius);
  font-family: var(--font-family-main);
  font-size: 1em;
  font-weight: 500;
  background-color: var(--color-white);
}

.nav-button-desktop:hover,
.nav-button-mobile:hover {
  border: 1.5px solid var(--color-blue);
  background-color: var(--color-blue);
}

.nav-button-desktop:hover p,
.nav-button-mobile:hover p,
.nav-button-desktop:hover a,
.nav-button-mobile:hover a {
  color: var(--color-white);
}

.nav-button-mobile {
  display: none;
  border: 1.5px solid var(--color-black);
  border-radius: var(--border-radius);
  font-family: var(--font-family-main);
  font-size: 1em;
  font-weight: 500;
  background-color: var(--color-white);
  ;
}

.nav-button-mobile:hover {
  border: 1.5px solid var(--color-blue);
  background-color: var(--color-blue);
  ;
}

.nav-button-desktop,
.nav-button-mobile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

footer {
  background-color: var(--color-grey-light);
  width: 100%;
  height: 13vh;
  bottom: 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 3rem;
}

.text-container {
  height: auto;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  gap: 0;
}

.text-container a:hover {
  text-decoration: underline;
}

.text-article-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text-article {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.gallery-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 3rem;
  padding-left: 5%;
  padding-right: 5%;
}

.gallery-img img {
  opacity: 0.7;
  transition: opacity 3s ease;
}

.gallery-img img:hover {
  opacity: 1;
}

.gallery-article {
  cursor: pointer;
  box-sizing: border-box;
  border: 1.5px solid var(--color-white);
  overflow: hidden;
  background-color: var(--color-white);
  border-radius: 0;
  transition: border-radius 1s ease-in-out, border-color 1s ease-in-out, background-color 1s ease-in-out;
}

.gallery-article:hover {
  background-color: var(--color-grey-light);
  border: 1.5px solid var(--color-grey-dark);
  border-radius: 5px;
}

.article-title-container {
  width: 100%;
  padding-left: .5rem;
}

.article-title {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 700;
  margin-top: .75rem;
  padding-left: .5rem;
}

.article-subtitle {
  font-size: .75em;
  line-height: 1.2em;
  font-weight: 500;
  color: var(--color-black);
  margin-top: .5rem;
  margin-bottom: 1rem;
  padding-left: .5rem;
}

.article-img-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.gallery-article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 5s ease-in-out;
}

.gallery-article:hover img {
  transform: scale(1.08);
}

dialog.modal {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
  height: 80vh;
  margin: auto;
  border: none;
  padding: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.modal-header,
.modal-footer {
  background: white;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 3rem;
  padding-right: 2.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1;
}

.modal-header {
  top: 0;
}

.modal-footer {
  bottom: 0;
  justify-content: flex-end;
}

.modal-body {
  flex: 1;
  overflow-y: auto;
  padding-top: .15rem;
  padding-left: 3.25rem;
  padding-right: 3.25rem;
}

.modal-title {
  margin: 0;
  text-decoration: none;
  font-family: var(--font-family-main);
  font-weight: 700;
  font-size: 1.3em;
  color: var(--color-black);
  line-height: 1.2em;
}

.modal-close-button {
  border: 1px solid var(--color-white);
  background-color: var(--color-white);
  color: var(--color-black);
  cursor: pointer;
  padding: .7rem 1.2rem;
}

.modal-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  box-sizing: border-box;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.85);
}

dialog.modal:not([open]) {
  display: none;
}

body:has(dialog[open]) {
  overflow: hidden;
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.badge {
  box-sizing: border-box;
  background-color: var(--color-grey-light);
  color: var(--color-black);
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .3rem;
  padding-bottom: .3rem;
  font-family: var(--font-family-main);
  font-size: .8em;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  border-left: 5px solid var(--color-blue);
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.badge-gold {
  box-sizing: border-box;
  background-color: var(--color-grey-light);
  color: var(--color-black);
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .3rem;
  padding-bottom: .3rem;
  font-family: var(--font-family-main);
  font-size: .8em;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  border-left: 5px solid var(--color-gold);
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.badge p {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.slideshow-container {
  position: relative;
  user-select: none;
  border: 1px solid var(--color-grey-dark);
  margin-left: 5%;
  margin-right: 5%;
}

.slideshow-text-container {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
}

.slideshow-img-container {
  display: none;
}

.slideshow-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.slideshow-p {
  padding: .5rem 1rem;
  font-size: 1em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  flex-grow: 1;
  overflow: hidden;
}

.slideshow-button-left,
.slideshow-button-right {
  border-radius: 0;
  padding: .5rem 1rem;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1em;
  border-left: 1px solid var(--color-grey-light);
  cursor: pointer;
}

.slideshow-button-left:hover,
.slideshow-button-right:hover {
  background-color: var(--color-black);
}

@media only screen and (max-width: 1250px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  .nav-button-desktop {
    display: none;
  }

  .nav-button-mobile {
    display: block;
  }

  .text-article-container {
    grid-template-columns: 1fr 1fr;
  }

  .gallery-img {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  main {
    padding-left: 5%;
    padding-right: 5%;
  }

  nav {
    padding: .5rem 5%;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  dialog.modal {
    width: 90%;
  }

  .banner p {
    display: none;
  }

  .gallery-img {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .text-article-container {
    grid-template-columns: 1fr;
  }

  .slideshow-container {
    margin-left: 0%;
    margin-right: 0%;
  }

  .modal-header,
  .modal-footer {
    padding-left: 2rem;
    padding-right: 1.4rem;
  }

  .modal-body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}