:root {
  --font-family-main: "Pathway Extreme";
  --border-radius: 100px;
  --color-blue: #3c78d8;
  --color-green: #31f5a5;
  --color-gold: #ffc800;
  --color-grey: #696969;
  --color-grey-light: #f7f7f7;
  --color-grey-dark: #eeeeee;
  --color-black: #000000;
  --color-black-opacity: rgba(0, 0, 0, 0.6);
  --color-white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

body:has(dialog[open]) {
  overflow: hidden;
}

img,
embed,
object,
video {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

p,
a {
  text-decoration: none;
  font-family: var(--font-family-main);
  font-weight: 400;
  font-size: 1em;
  color: var(--color-black);
  line-height: 1.4em;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  text-align: center;
  padding: .5rem 1rem;
  font-size: 1.5em;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  color: var(--color-black);
  font-family: var(--font-family-main);
  font-weight: 700;
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: none;
}

/*Header*/
.header-container {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green);
  gap: 1rem;
  padding: 1rem;
}

.banner-p {
  overflow: hidden;
  font-family: var(--font-family-main);
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-black);
  line-height: 1.2em;
  padding: 0;
  margin: 0;
}

.banner-a {
  text-decoration: underline;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: .5rem 5rem;
}

.nav-logo-container {
  display: flex;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

.nav-logo-a {
  display: contents;
}

.nav-menu-container {
  display: flex;
  gap: .75rem;
}

.hero-text-block-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  padding-top: 10rem;
  padding-bottom: 4.5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.nav-a-decoration-none {
  text-decoration: none;
}

.nav-a-decoration-none:hover {
  text-decoration: none;
}

.nav-button-desktop-circle {
  border: 1.5px solid var(--color-black);
  border-radius: var(--border-radius);
  font-family: var(--font-family-main);
  font-size: 1em;
  font-weight: 500;
  background-color: var(--color-white);;
}

.nav-button-desktop-circle:hover,
.nav-button-mobile-circle:hover {
  border: 1.5px solid var(--color-blue);
  background-color: var(--color-blue);
}

.nav-button-desktop-circle:hover p,
.nav-button-mobile-circle:hover p,
.nav-button-desktop-circle:hover a,
.nav-button-mobile-circle:hover a {
  color: var(--color-white);
}

.nav-button-mobile-circle {
  display: none;
  border: 1.5px solid var(--color-black);
  border-radius: var(--border-radius);
  font-family: var(--font-family-main);
  font-size: 1em;
  font-weight: 500;
  background-color: var(--color-white);;
}

.nav-button-mobile-circle:hover {
  border: 1.5px solid var(--color-blue);
  background-color: var(--color-blue);;
}

/*Footer*/
footer {
  background-color: var(--color-grey-light);
  width: 100%;
  height: 13vh;
  bottom: 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 5rem;
}

.footer-column-left {
  max-width: 30%;
}

.footer-column-right {
  display: flex;
  gap: 2.5rem;
}

.footer-p-right {
  font-weight: 600;
}

/*Text-Blocks*/
.text-block-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 15rem;
  padding-right: 15rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.text-block-article-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: space-between;
}

.text-block-container-grey {
  padding-left: 15rem;
  padding-right: 15rem;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-grey-light);
  gap: 2rem;
}

.text-block-article {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin: 0;
  padding: 0;
  flex: 1;
  gap: 2rem;
}

.text-block-p-xs {
  font-size: .8rem;
  font-weight: 700;
}

.text-block-p-l {
  font-size: 2.75em;
  font-weight: 700;
}

.text-block-p-center {
  text-align: center;
}

.text-block-p-emoji {
  font-size: 1.5em;
  line-height: 1.2em;
}

.text-block-p-xl-xl-center {
  text-align: center;
  font-weight: 800;
  font-size: 4em;
}

.text-block-p-l-l {
  font-weight: 700;
  font-size: 2.75em;
}

.text-block-p-l-m {
  font-weight: 500;
  font-size: 2.75em;
}

.text-block-p-l-l-center {
  text-align: center;
  font-weight: 700;
  font-size: 2.75em;
}

.text-block-p-m-l {
  font-weight: 700;
  font-size: 1.5em;
}

.text-block-p-m-m {
  font-weight: 500;
  font-size: 1.5em;
}

.text-block-ul {
  list-style-type: square;
  margin: 0;
}

.text-block-li {
  font-family: var(--font-family-main);
  font-weight: 500;
  font-size: 1em;
  color: var(--color-black);
  line-height: 1.2em;
  margin-bottom: 2.5rem;
}

/*Text Styles*/
.text-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.text-container a:hover {
  text-decoration: underline;
}

.text-article-container,
.text-article-container-wide {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
  justify-content: space-between;
  overflow: hidden;
}

.text-article {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

hr {
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-left: auto;
  margin-right: auto;
}

.text-p-sm-center {
  text-align: center;
  font-weight: 500;
}

.text-p-med-center {
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
}

.text-p-xl-center {
  text-align: center;
  font-weight: 800;
  font-size: 4em;
}

/*Gallery*/
.gallery {
  padding: 0 7.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.gallery-article {
  cursor: pointer;
  flex: 1 1 calc(33.33% - 1rem);
  max-width: calc(33.33% - 1rem);
  box-sizing: border-box;
  border: 1.5px solid var(--color-white);
  overflow: hidden;
  background-color: var(--color-white);
  border-radius: 0;
  transition: border-radius 1s ease-in-out, border-color 1s ease-in-out, background-color 1s ease-in-out;
}

.gallery-article:hover {
  background-color: var(--color-grey-light);
  border: 1.5px solid var(--color-grey-dark);
  border-radius: 5px;
}

.article-title-container {
}

.article-title {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 700;
  margin-top: .5rem;
  padding-left: .5rem;
}

.article-subtitle {
  font-size: .75em;
  line-height: 1.2em;
  font-weight: 500;
  color: var(--color-black);
  margin-top: .5rem;
  margin-bottom: 1rem;
  padding-left: .5rem;
}

.article-img-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.gallery-article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 10s ease-in-out;
}

.gallery-article:hover img {
  transform: scale(1.08);
}

/*Modal*/
dialog.modal {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1000px;
  height: 80vh;
  margin: auto;
  border: none;
  padding: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.modal-header,
.modal-footer {
  background: white;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 3rem;
  padding-right: 2.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1;
}

.modal-header {
  top: 0;
}

.modal-footer {
  bottom: 0;
  justify-content: flex-end;
}

.modal-body {
  flex: 1;
  overflow-y: auto;
  padding-top: .15rem;
}

.modal-content {
  padding-left: 3.25rem;
  padding-right: 3.25rem;
}

.modal-title {
  margin: 0;
  text-decoration: none;
  font-family: var(--font-family-main);
  font-weight: 700;
  font-size: 1.3em;
  color: var(--color-black);
  line-height: 1.2em;
}

.modal-close-button {
  border: 1px solid var(--color-white);
  background-color: var(--color-white);
  color: var(--color-black);
  cursor: pointer;
  padding: .7rem 1.2rem;
}

.modal-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  box-sizing: border-box;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.85);
}

dialog.modal:not([open]) {
  display: none;
}

body:has(dialog[open]) {
  overflow: hidden;
}

/*Badges*/
.badge-container {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.badge {
  box-sizing: border-box;
  background-color: var(--color-grey-light);
  color: var(--color-black);
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .3rem;
  padding-bottom: .3rem;
  font-family: var(--font-family-main);
  font-size: .8em;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  border-left: 5px solid var(--color-blue);
}

.badge-gold {
  box-sizing: border-box;
  background-color: var(--color-grey-light);
  color: var(--color-black);
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .3rem;
  padding-bottom: .3rem;
  font-family: var(--font-family-main);
  font-size: .8em;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  border-left: 5px solid var(--color-gold);
}

/*Slideshow*/
.slideshow-container {
  position: relative;
  border: 1px solid var(--color-grey-dark);
}

.slideshow-info-container {
  display: flex;
  position: absolute;
  bottom: 0px;
}

.slideshow-img-container {
  display: none;  
}

.slideshow-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.slideshow-p {
  padding: .5rem 1rem;
  font-size: 1em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
}

.slideshow-button-left,
.slideshow-button-right {
  border-radius: 0;
  padding: .5rem 1rem;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1em;
  border-right: 1px solid var(--color-grey-light);
  cursor: pointer;
}

.slideshow-button-left:hover,
.slideshow-button-right:hover {
  background-color: var(--color-black);
}

/*Brands*/
.brands-container {
  padding-left: 15rem;
  padding-right: 15rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.brands-article {
  flex: 1 1 calc(25% - 4rem);
  max-width: calc(25% - 4rem);
  box-sizing: border-box;
}

.button-desktop-circle-blue {
  border: 1.5px solid var(--color-blue);
  border-radius: var(--border-radius);
  font-size: 1em;
  font-family: var(--font-family-main);
  font-weight: 500;
}

.grid-white-spacearound {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.grid-white-spaceevenly {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.grid-grey {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-grey-light);
}

.grid-2column-full {
  display: flex;
  flex-wrap: nowrap;
  gap: 9rem;
}

.grid-2column-full-img {
  display: flex;
  flex-wrap: nowrap;
  gap: 5rem;
}

.grid-2column-column-left {
  max-width: 30%;
  padding-left: 2.5rem;
}

.grid-2column-column1-left-l {
  max-width: 40%;
  padding-left: 2.5rem;
}

.grid-2column-column2-left-s {
  max-width: 20%;
  padding-right: 2.5rem;
}

.grid-2column-column-right {
  max-width: 30%;
  padding-right: 2.5rem;
}

.grid-2column-column1-right-s {
  max-width: 20%;
  padding-left: 2.5rem;
}

.grid-2column-column2-right-l {
  max-width: 40%;
  padding-right: 2.5rem;
}

.grid-3column-column1 {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  padding-left: 15%;
}

.grid-3column-column2 {
  display: flex;
  flex-direction: column;
  max-width: 20%;
}

.grid-3column-column3 {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  padding-right: 2.5rem;
}

.grid-4column-column1 {
  max-width: 15%;
  padding-left: 2.5rem;
}

.grid-4column-column2 {
  max-width: 15%;
}

.grid-4column-column3 {
  max-width: 15%;
}

.grid-4column-column4 {
  max-width: 15%;
  padding-right: 2.5rem;
}

.img-halfleft {
  max-width: 34%;
  padding-left: 2.5rem;
  padding-right: .5%;
}

.img-halfright {
  max-width: 34%;
  padding-left: .5%;
  padding-right: 2.5rem;
}

.img-column {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/*Tablet*/
@media only screen and (max-width: 1250px) {
  .contentimghalfleft {
    max-width: 70%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .contentimghalfright {
    max-width: 70%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .gallery {
    gap: .7rem;
  }

  .gallery-article {
    flex: 1 1 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }

  .brands-article {
    flex: 1 1 calc(33.33% - 4rem);
    max-width: calc(33.33% - 4rem);
  }

  .hero-text-block-container,
  .brands-container,
  .text-block-container,
  .gallery-container {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .hero-text-block-container {
    padding-bottom: 3rem;
  }

  .nav-button-desktop-circle {
    display: none;
  }

  .nav-button-mobile-circle {
    display: block;
  }

  .text-article-container-wide {
    display: inline-block;
  }

  .text-article-container-wide hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

/*Mobile*/
@media only screen and (max-width: 800px) {

  .grid-2column-full,
  .grid-2column-column-left,
  .grid-2column-column1-left-l,
  .grid-2column-column2-left-s,
  .grid-2column-column-right,
  .grid-2column-column1-right-s,
  .grid-2column-column2-right-l,
  .grid-3column-column1,
  .grid-3column-column2,
  .grid-3column-column3,
  .grid-4column-column1,
  .grid-4column-column2,
  .grid-4column-column3,
  .grid-4column-column4 {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .gallery {
    padding: 0 10%;
  }

  .gallery-article {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .brands-article {
    flex: 1 1 calc(50% - 4rem);
    max-width: calc(50% - 4rem);
  }

  .hero-text-block-container,
  .brands-container,
  .text-block-container,
  .gallery-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  dialog.modal {
    width: 90%;
  }
  
  .text-article-container {
    display: inline-block;
  }

  .banner-p {
    display: none;
  }


  hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}