:root {
  /*Size Em*/
  --size-em-xxs: .25em;
  --size-em-xs: .5em;
  --size-em-s: 1em;
  --size-em-m: 2.5em;
  --size-em-l: 5em;
  --size-em-xl: 7.5em;
  --size-em-xxl: 10em;

  /*Size Rem*/
  --size-em-xxs: .25em;
  --size-rem-xs: .5rem;
  --size-rem-s: 1rem;
  --size-rem-m: 2.5rem;
  --size-rem-l: 5rem;
  --size-rem-xl: 7.5rem;
  --size-rem-xxl: 10rem;

  /*Size Width*/
  --size-width-full: 100%;
  --size-width-1col: 70%;
  --size-width-2col: 35%;
  --size-width-3col: 20%;
  --size-width-4col: 15%;

  /*Size Gap*/
  --size-gap-s: 1rem;
  --size-gap-m: 5rem;
  --size-gap-l: 10rem;

  /*Margin/Padding*/
  --margin: var(--size-rem-l);
  --padding: var(--size-rem-l);
  --padding-top-s: var(--size-rem-s);
  --padding-top-m: var(--size-rem-m);
  --padding-top-l: var(--size-rem-l);
  --padding-bottom-s: var(--size-rem-s);
  --padding-bottom-m: var(--size-rem-m);
  --padding-bottom-l: var(--size-rem-l);
  --padding-left-s: var(--size-rem-s);
  --padding-left-m: var(--size-rem-m);
  --padding-left-l: var(--size-rem-l);
  --padding-right-s: var(--size-rem-s);
  --padding-right-m: var(--size-rem-m);
  --padding-right-l: var(--size-rem-l);

  /*Color*/
  --color-blue: #3c78d8;
  --color-green: #31f5a5;
  --color-grey: #696969;
  --color-grey-light: #f3f3f3;
  --color-black: #000000;
  --color-black-opacity: rgba(0, 0, 0, 0.6);
  --color-white: #ffffff;

  /*Font Family*/
  --font-family-main: "Pathway Extreme";
  --font-lineheight: 1.2em;

  /*Font Size*/
  --font-size-xs: .8em;
  --font-size-s: 1em;
  --font-size-m: 1.5em;
  --font-size-l: 2.75em;
  --font-size-xl: 4em;

  /*Font Weight*/
  --font-weight-xs: 200;
  --font-weight-s: 300;
  --font-weight-m: 500;
  --font-weight-l: 700;
  --font-weight-xl: 800;

  /*Styles*/
  --border-black: 1.5px solid var(--color-black);
  --border-blue: 1.5px solid var(--color-blue);
  --border-radius: 100px;
  --padding-button: var(--size-rem-xs) var(--size-rem-s);
  --gap: var(--size-rem-s);
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

body:has(dialog[open]) {
  overflow: hidden;
}

img,
embed,
object,
video {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

p,
a {
  text-decoration: none;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-m);
  font-size: var(--font-size-s);
  color: var(--color-black);
  line-height: var(--font-lineheight);
  padding: 0;
  margin: 0;
}

button {
  border: none;
  text-align: center;
  padding: var(--padding-button);
  font-size: var(--font-size-m);
  background-color: var(--color-blue);
  border-radius: var(--border-radius);
  color: var(--color-white);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-l);
  cursor: pointer;
}

/*Header*/
.header-container {
  position: fixed;
  width: var(--size-width-full);
  z-index: 999;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green);
  gap: var(--size-rem-s);
  padding: var(--size-rem-s) var(--padding);
}

.banner-p {
  overflow: hidden;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-m);
  font-size: var(--font-size-s);
  color: var(--color-black);
  line-height: var(--font-lineheight);
  padding: 0;
  margin: 0;
}

.banner-p-a {
  text-decoration: underline;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: var(--size-rem-xs) var(--padding);
}

.nav-logo-container {
  display: flex;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

.nav-logo-a {
  display: contents;
}

.nav-menu-container {
  display: flex;
  gap: var(--size-rem-s);
}

.hero-text-block-container {
  padding-left: var(--size-rem-xxl);
  padding-right: var(--size-rem-xxl);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  padding-top: var(--size-rem-xxl);
  padding-bottom: var(--size-rem-l);
}

.nav-a-decoration-none {
  text-decoration: none;
}

.nav-a-decoration-none:hover {
  text-decoration: none;
}

.nav-button-desktop-circle {
  border: var(--border-black);
  border-radius: var(--border-radius);
  font-family: var(--font-family-main);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-m);
  background-color: var(--color-white);
  color: var(--color-black);
}

.nav-button-mobile-circle {
  display: none;
  border: var(--border-black);
  border-radius: var(--border-radius);
  font-family: var(--font-family-main);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-m);
  background-color: var(--color-white);
  color: var(--color-black);
}

/*Text-Block*/
.text-block-container {
  padding-top: var(--size-rem-s);
  padding-bottom: var(--size-rem-s);
  padding-left: 15rem;
  padding-right: 15rem;
  margin-top: var(--size-rem-m);
  margin-bottom: var(--size-rem-m);
}

.text-block-article-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: space-between;
}

.text-block-container-grey {
  padding-left: 15rem;
  padding-right: 15rem;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-grey-light);
  gap: 2rem;
}

.text-block-title {
  display: block;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-l);
  padding-bottom: var(--size-rem-m);
}

.text-block-article {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin: 0;
  padding: 0;
  flex: 1;
  gap: 2rem;
}

.text-block-p-xs-blue {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-l);
  color: var(--color-blue);
}

.text-block-p-l {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-l);
}

.text-block-p-center {
  text-align: center;
}

.text-block-p-emoji {
  font-size: var(--font-size-m);
  line-height: var(--font-lineheight);
}

.text-block-p-xl-xl-center {
  text-align: center;
  font-weight: var(--font-weight-xl);
  font-size: var(--font-size-xl);
}

.text-block-p-l-l {
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-l);
}

.text-block-p-l-m {
  font-weight: var(--font-weight-m);
  font-size: var(--font-size-l);
}

.text-block-p-l-l-center {
  text-align: center;
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-l);
}

.text-block-p-l-l-blue {
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-l);
  color: var(--color-blue);
}

.text-block-p-m-l {
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-m);
}

.text-block-p-m-m {
  font-weight: var(--font-weight-m);
  font-size: var(--font-size-m);
}


.text-block-p-m-l-blue {
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-m);
  color: var(--color-blue);
}

.text-block-p-m-l-center-blue {
  text-align: center;
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-m);
  color: var(--color-blue);
}

.text-block-p-s-l-blue {
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-s);
  color: var(--color-blue);
}

.text-block-p-xs-l-blue {
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-xs);
  color: var(--color-blue);
}

.text-block-ul {
  list-style-type: square;
  margin: 0;
}

.text-block-li {
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-m);
  font-size: var(--font-size-s);
  color: var(--color-black);
  line-height: var(--font-lineheight);
  margin-bottom: var(--size-rem-m);
}

/*Footer*/
footer {
  background-color: var(--color-grey-light);
  width: var(--size-width-full);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: var(--size-rem-m);
  padding-bottom: var(--size-rem-m);
  padding-left: var(--padding);
  padding-right: var(--padding);
  margin-top: var(--margin);
}

.footer-column-left {
  max-width: 30%;
}

.footer-column-right {
  display: flex;
  gap: var(--size-rem-m);
}

.footer-p-right {
  font-weight: 600;
}

/*Gallery*/
.gallery-container {
  padding-left: var(--size-rem-xl);
  padding-right: var(--size-rem-xl);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.gallery-article {
  flex: 1 1 calc(33.33% - 1rem);
  max-width: calc(33.33% - 1rem);
  box-sizing: border-box;
  cursor: pointer;
}

.gallery-p-article-title {
  font-size: var(--font-size-s);
  line-height: var(--font-lineheight);
  font-weight: var(--font-weight-l);
  margin-top: var(--size-rem-xs);
}

.gallery-p-article-sub {
  font-size: var(--font-size-xs);
  line-height: var(--font-lineheight);
  font-weight: var(--font-weight-m);
  color: var(--color-grey);
  margin-top: var(--size-rem-xs);
  margin-bottom: var(--size-rem-s);
}

/*Modal*/
.modal-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 2rem auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

dialog.modal:not([open]) {
  display: none;
}

dialog.modal {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  height: 80vh;
  margin: auto;
  border: none;
  padding: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.modal-header,
.modal-footer {
  background: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1;
}

.modal-header {
  top: 0;
}

.modal-footer {
  bottom: 0;
  justify-content: flex-end;
}

.modal-body {
  flex: 1;
  overflow-y: auto;
}

.modal-content {
  padding-left: 3rem;
  padding-right: 3rem;
}

.modal-title {
  margin: 0;
  text-decoration: none;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-s);
  color: var(--color-black);
  line-height: var(--font-lineheight);
}

.modal-button-desktop {
  border: var(--border-black);
  border-radius: var(--border-radius);
  font-family: var(--font-family-main);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-m);
  background-color: var(--color-white);
  color: var(--color-black);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.badge-section {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.badge {
  box-sizing: border-box;
  background-color: #eeeeee;
  color: #343a40;
  padding: .2rem .3rem;
  text-align: center;
  border-radius: 4px;
}

.badge-icon {
  padding: .2rem;
  color: #9e9e9e;
}

/*Slideshow*/
.slideshow-container {
  position: relative;
  padding-left: 15rem;
  padding-right: 15rem;
}

.slideshow-info-container {
  display: flex;
  position: absolute;
  bottom: 0px;
}

.slideshow-img-container {
  display: none;
}

.slideshow-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.slideshow-p {
  padding: var(--padding-button);
  font-size: var(--font-size-s);
  color: var(--color-white);
  background-color: var(--color-black-opacity);
}

.slideshow-title {
  display: block;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-l);
  padding-bottom: var(--size-rem-m);
}

.slideshow-img {
  display: flex;
  width: var(--size-width-full);
}

.slideshow-button-left,
.slideshow-button-right {
  border-radius: 0;
  padding: var(--padding-button);
  color: var(--color-white);
  background-color: var(--color-black-opacity);
  font-size: var(--font-size-s);
  border-right: 1px solid var(--color-grey);
}

.slideshow-button-left:hover,
.slideshow-button-right:hover {
  background-color: var(--color-black);
}

/*Brands*/
.brands-container {
  padding-left: 15rem;
  padding-right: 15rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-between;
  margin-bottom: var(--size-rem-l);
}

.brands-article {
  flex: 1 1 calc(25% - 4rem);
  max-width: calc(25% - 4rem);
  box-sizing: border-box;
}

.button-desktop-circle-blue {
  border: var(--border-blue);
  border-radius: var(--border-radius);
  font-size: var(--font-size-s);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-m);
}

.grid-white-spacearound {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.grid-white-spaceevenly {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.grid-grey {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-grey-light);
}

.grid-2column-full {
  display: flex;
  flex-wrap: nowrap;
  gap: 9rem;
}

.grid-2column-full-img {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--size-rem-l);
}

.grid-2column-column-left {
  max-width: 30%;
  padding-left: var(--padding-left-m);
}

.grid-2column-column1-left-l {
  max-width: 40%;
  padding-left: var(--padding-left-m);
}

.grid-2column-column2-left-s {
  max-width: 20%;
  padding-right: var(--padding-right-m);
}

.grid-2column-column-right {
  max-width: 30%;
  padding-right: var(--padding-right-m);
}

.grid-2column-column1-right-s {
  max-width: 20%;
  padding-left: var(--padding-right-m);
}

.grid-2column-column2-right-l {
  max-width: 40%;
  padding-right: var(--padding-right-m);
}

.grid-3column-column1 {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  padding-left: 15%;
}

.grid-3column-column2 {
  display: flex;
  flex-direction: column;
  max-width: 20%;
}

.grid-3column-column3 {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  padding-right: var(--padding-right-m);
}

.grid-4column-column1 {
  max-width: 15%;
  padding-left: var(--padding-left-m);
}

.grid-4column-column2 {
  max-width: 15%;
}

.grid-4column-column3 {
  max-width: 15%;
}

.grid-4column-column4 {
  max-width: 15%;
  padding-right: var(--padding-right-m);
}

.img-halfleft {
  max-width: 34%;
  padding-left: var(--padding-left-m);
  padding-right: .5%;
}

.img-halfright {
  max-width: 34%;
  padding-left: .5%;
  padding-right: var(--padding-right-m);
}

.img-column {
  padding-top: var(--size-rem-xs);
  padding-bottom: var(--size-rem-xs);
}

@media only screen and (max-width: 1100px) {
  .contentimghalfleft {
    max-width: var(--size-width-1col);
    padding-left: var(--padding-left-m);
    padding-right: var(--padding-right-m);
  }

  .contentimghalfright {
    max-width: var(--size-width-1col);
    padding-left: var(--padding-left-m);
    padding-right: var(--padding-right-m);
  }

  .gallery-article {
    flex: 1 1 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }

  .brands-article {
    flex: 1 1 calc(33.33% - 4rem);
    max-width: calc(33.33% - 4rem);
  }

  .hero-text-block-container,
  .brands-container,
  .text-block-container,
  .slideshow-container,
  .gallery-container {
    padding-left: var(--size-rem-xl);
    padding-right: var(--size-rem-xl);
  }

  .nav-button-desktop-circle {
    display: none;
  }

  .nav-button-mobile-circle {
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  .grid-2column-full,
  .grid-2column-column-left,
  .grid-2column-column1-left-l,
  .grid-2column-column2-left-s,
  .grid-2column-column-right,
  .grid-2column-column1-right-s,
  .grid-2column-column2-right-l,
  .grid-3column-column1,
  .grid-3column-column2,
  .grid-3column-column3,
  .grid-4column-column1,
  .grid-4column-column2,
  .grid-4column-column3,
  .grid-4column-column4 {
    display: flex;
    flex-direction: column;
    max-width: var(--size-width-1col);
    padding-left: var(--padding-left-m);
    padding-right: var(--padding-right-m);
  }

  .gallery-article {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .brands-article {
    flex: 1 1 calc(50% - 4rem);
    max-width: calc(50% - 4rem);
  }

  .hero-text-block-container,
  .brands-container,
  .text-block-container,
  .slideshow-container,
  .gallery-container {
    padding-left: var(--size-rem-l);
    padding-right: var(--size-rem-l);
  }
}
